<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>wash Classifier</title>
    <link rel="stylesheet" href="./static/stylesheet.css">
</head>
<body>
    <header>   
        <a class="header-logo" href="#">洗濯識別アプリ</a>
    </header>
    
    <div class="main">    
        <h2> 洗濯可能か識別します</h2>
        <p>画像ファイルを選択後、判定を押して画像を送信してください</p>
        <form method="POST" enctype="multipart/form-data">
            <input class="file_choose" type="file" name="file">
            <input class="btn" value="判定する" type="submit">
        </form>
        <div class="answer">{{answer}}</div>
    </div>

    <div class="footer">
        &copy; 2023 H.ryota
    </div>
</body>
</html>